*.log
*.log.old
application/runtime/*.php
application/runtime/cache/*.php
application/runtime/cache/views/*.php
application/runtime/logging/snapshots/*.html
.idea/
libraries
composer.lock
composer.phar
data/*
vendor/
