runtime/*
.idea/
node_modules/*
typings/*
composer.lock
composer.phar
vendor/
.env
webroot/resources/generated/
npm-debug.log
resources/Virtual/Spiral/Commands/Modules/RegisterCommand.php
.phpstorm.meta.php/
resources/Virtual/
