.tags-container {
  margin-bottom: 10px;
}
.tags-container span {
  margin-right: 2px;
}
.tags-container span > span {
  margin-left: 8px;
  cursor: pointer;
}
.tags-container .glyphicon {
  padding: 0;
  top: 2px;
}
.tags-container .btn-group {
  margin-right: 2px;
  margin-bottom: 2px;
}
.inputs-invisible {
  visibility: hidden;
}
.autocomplete-group .input-group-addon {
  cursor: pointer;
}
.autocomplete-group .input-group-addon .glyphicon {
  padding: 0;
  margin: 0 1px 0 1px;
}
.autocomplete-group .input-group-addon .glyphicon.gif-loading {
  background: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
  width: 16px;
  height: 16px;
  margin: 0;
}
.autocomplete-suggestions {
  display: table;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 100;
  border: 1px solid;
  border-color: #cccccc;
  background: #ffffff;
  overflow: hidden;
  visibility: hidden;
  border-radius: 4px;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.autocomplete-suggestion:hover {
  background: #eeeeee;
}
.autocomplete-selected {
  background: #eeeeee;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #5bc0de;
}
