.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.form-crop-preview {
  cursor: pointer;
}
.form-crop-preview > img {
  max-width: 100%;
}
.form-crop-group .form-internal-crop-preview-container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  background: white;
  border-radius: 10px;
  padding: 5px;
  display: none;
}
.form-crop-group .form-internal-crop-preview-container img {
  max-width: 200px;
  max-height: 200px;
}
.modal.crop {
  overflow: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal.crop .modal-dialog {
  min-width: 600px;
  max-width: 600px;
}
.modal.crop .crop-container {
  position: relative;
}
.modal.crop .crop-container canvas {
  display: block;
}
.modal.crop .image-original {
  font-size: 0;
}
.modal.crop .image-original img {
  max-width: 100%;
}
.modal.crop .crop-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal.crop .crop-wrapper .thumb {
  max-width: 100%;
  max-height: 100%;
}
.modal.crop .crop-wrapper .thumb > img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  visibility: hidden;
  z-index: -1;
  width: 100%;
  min-width: 100%;
  margin-bottom: -4px;
}
.modal.crop .crop-wrapper .transparent-image {
  max-width: 100%;
  max-height: 100%;
}
.modal.crop .crop-wrapper .crop-elements {
  position: absolute;
  border: 1px dashed black;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  cursor: move;
}
.modal.crop .crop-wrapper .dimmers-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal.crop .crop-wrapper .dimmers {
  position: absolute;
}
.modal.crop .crop-wrapper .dimmer {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-color: black;
  opacity: 0.3;
}
.modal.crop .crop-wrapper .dimmer.dimmer-N {
  bottom: 100%;
  left: 0;
}
.modal.crop .crop-wrapper .dimmer.dimmer-E {
  left: 100%;
  top: 0;
}
.modal.crop .crop-wrapper .dimmer.dimmer-S {
  top: 100%;
  right: 0;
}
.modal.crop .crop-wrapper .dimmer.dimmer-W {
  bottom: 0;
  right: 100%;
}
.modal.crop .crop-wrapper .handler {
  position: absolute;
  border: 1px solid #333333;
  width: 10px;
  height: 10px;
  background: #FFF;
  opacity: 0.5;
}
.modal.crop .crop-wrapper .handler.handler-N {
  top: 0;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  cursor: n-resize;
}
.modal.crop .crop-wrapper .handler.handler-NE {
  top: 0;
  right: 0;
  margin-top: -6px;
  margin-right: -6px;
  cursor: ne-resize;
}
.modal.crop .crop-wrapper .handler.handler-E {
  top: 50%;
  right: 0;
  margin-top: -6px;
  margin-right: -6px;
  cursor: e-resize;
}
.modal.crop .crop-wrapper .handler.handler-SE {
  bottom: 0;
  right: 0;
  margin-bottom: -6px;
  margin-right: -6px;
  cursor: se-resize;
}
.modal.crop .crop-wrapper .handler.handler-S {
  bottom: 0;
  left: 50%;
  margin-bottom: -6px;
  margin-left: -6px;
  cursor: s-resize;
}
.modal.crop .crop-wrapper .handler.handler-SW {
  bottom: 0;
  left: 0;
  margin-bottom: -6px;
  margin-left: -6px;
  cursor: sw-resize;
}
.modal.crop .crop-wrapper .handler.handler-W {
  top: 50%;
  left: 0;
  margin-top: -6px;
  margin-left: -6px;
  cursor: w-resize;
}
.modal.crop .crop-wrapper .handler.handler-NW {
  top: 0;
  left: 0;
  margin-top: -6px;
  margin-left: -6px;
  cursor: nw-resize;
}
