.clearfix,
.cf {
  *zoom: 1;
}
.clearfix:before,
.cf:before,
.clearfix:after,
.cf:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.cf:after {
  clear: both;
}
.locked .form-content {
  pointer-events: none;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: .7;
}
.sf-spinner {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-indent: -9999em;
  border: 3px solid rgba(90, 90, 90, 0.2);
  border-left-color: #74b5eb;
  margin: -15px 0 0 -15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: sf-spinner 1.1s infinite linear;
  animation: sf-spinner 1.1s infinite linear;
}
.sf-spinner,
.sf-spinner:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
@-webkit-keyframes sf-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sf-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.sf-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 80%;
  height: 10px;
  background: rgba(90, 90, 90, 0.2);
  border-radius: 2px;
}
.sf-progress-line {
  background: #74b5eb;
  width: 0;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@font-face {
  font-family: 'toolkit-spiral';
  src: url('../../fonts/spiral.eot?81420695');
  src: url('../../fonts/spiral.eot?81420695#iefix') format('embedded-opentype'), url('../../fonts/spiral.woff2?81420695') format('woff2'), url('../../fonts/spiral.woff?81420695') format('woff'), url('../../fonts/spiral.ttf?81420695') format('truetype'), url('../../fonts/spiral.svg?81420695#spiral') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="toolkit-icon-"]:before,
[class*=" toolkit-icon-"]:before {
  font-family: "toolkit-spiral";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.toolkit-icon-sort-up:before {
  content: '\e800';
}
/* '' */
.toolkit-icon-sort-down:before {
  content: '\e801';
}
/* '' */
.toolkit-icon-down:before {
  content: '\e802';
}
/* '' */
.toolkit-icon-search:before {
  content: '\e803';
}
/* '' */
.toolkit-icon-left:before {
  content: '\e804';
}
/* '' */
.toolkit-icon-right:before {
  content: '\e805';
}
/* '' */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased!important;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #464646;
  font-weight: 600;
}
h1 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 34px;
  line-height: 2.125rem;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-bottom: 15px;
}
h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-bottom: 10px;
}
h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-bottom: 5px;
}
h5 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 19px;
  line-height: 1.1875rem;
  margin-bottom: 5px;
}
p {
  margin-bottom: 20px;
}
a {
  color: #33a3fe;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  text-indent: 30px;
  color: #666666;
  padding: 20px 0;
  font-style: italic;
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
ul {
  padding-bottom: 25px;
}
ul li {
  display: block;
  padding-left: 15px;
  position: relative;
  padding-bottom: 5px;
}
ul.mark-1 li:before {
  display: block;
  position: absolute;
  content: '\e807';
  color: #33a3fe;
  left: 0;
  top: 0;
  font-size: 7px;
}
ul.mark-2 li:before {
  display: block;
  position: absolute;
  content: '\ac';
  color: #000000;
  left: 0;
  top: 0;
}
ol {
  padding-bottom: 25px;
  counter-reset: li;
}
ol li {
  display: block;
  padding-left: 15px;
  position: relative;
  padding-bottom: 5px;
}
ol li:before {
  position: absolute;
  left: 0;
  content: counter(li);
  counter-increment: li;
}
ol.mark-1 li:before {
  color: #33a3fe;
  content: counter(li);
}
ol.mark-2 li {
  padding-left: 20px;
}
ol.mark-2 li:before {
  width: 15px;
  height: 15px;
  font-size: 11px;
  font-size: 0.6875rem;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #33a3fe;
  content: counter(li);
  top: 1px;
}
table {
  width: 100%;
  margin-bottom: 20px;
}
table thead td {
  background: #e5e5e5;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  text-align: left;
  font-weight: bold;
}
table tbody td {
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
}
table tfoot td {
  background: #e5e5e5;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
}
table td.right-align {
  text-align: right;
}
table td.center-align {
  text-align: center;
}
table td.left-align {
  text-align: left;
}
.js-spiral-form {
  position: relative;
}
.form-group {
  padding-bottom: 15px;
}
.form-group .form-control {
  width: 100%;
  height: 30px;
  display: block;
  padding: 0 10px;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
}
.form-group .form-control:-moz-placeholder {
  color: #b9b9b9;
}
.form-group .form-control:-ms-input-placeholder {
  color: #b9b9b9;
}
.form-group .form-control::-webkit-input-placeholder {
  color: #b9b9b9;
}
.form-group .form-control:focus {
  border-color: #33a3fe;
  outline: none;
}
.form-group select {
  width: 100%;
  height: 30px;
  border: 1px solid #b9b9b9;
  border-radius: none;
  background: none;
}
.form-group select:focus {
  outline: none;
  border-color: #33a3fe;
}
.form-group label {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  color: #666666;
  display: block;
  padding-bottom: 5px;
  font-weight: 100;
}
.item-form-checkbox {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
}
.item-form-checkbox:before {
  width: 15px;
  height: 15px;
  border: 1px solid #b9b9b9;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.item-form-checkbox span {
  display: block;
  line-height: 20px;
}
.item-form-checkbox span:before {
  width: 11px;
  height: 11px;
  background: #33a3fe;
  position: absolute;
  left: 3px;
  top: 3px;
  content: "";
  transition: all 0.2s ease-out 0s;
  opacity: 0;
}
.item-form-checkbox [type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -3;
}
.item-form-checkbox [type=checkbox]:checked + span:before {
  transition: all 0.2s ease-out 0s;
  opacity: 1;
}
.item-form-checkbox:hover {
  color: #33a3fe;
}
.item-form-radio {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
}
.item-form-radio:before {
  width: 15px;
  height: 15px;
  border: 1px solid #b9b9b9;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  content: "";
}
.item-form-radio span {
  display: block;
  line-height: 20px;
}
.item-form-radio span:before {
  width: 11px;
  height: 11px;
  transition: all 0.2s ease-out 0s;
  background: #33a3fe;
  opacity: 0;
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
}
.item-form-radio [type=radio] {
  position: absolute;
  opacity: 0;
  z-index: -3;
}
.item-form-radio [type=radio]:checked + span:before {
  transition: all 0.2s ease-out 0s;
  opacity: 1;
}
.item-form-radio:hover {
  color: #33a3fe;
}
.btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  padding: 0 20px;
  font-family: 'Avenir', Arial, sans-serif;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn.btn-block {
  width: 100%;
}
.btn.btn-default {
  transition: all 0.2s ease-out 0s;
  background: #33a3fe;
  margin-bottom: 5px;
}
.btn.btn-default:hover {
  transition: all 0.2s ease-out 0s;
  background: #0560a2;
}
.btn-icon,
.btn-close {
  display: block;
  color: #000000;
  background: transparent;
  padding: 0;
  font-size: 18px;
  border: none;
  opacity: 0.2;
  cursor: pointer;
}
.btn-icon:hover,
.btn-close:hover {
  opacity: 1;
}
form {
  position: relative;
}
.item-form {
  display: block;
  margin-bottom: 15px;
}
.item-form input {
  width: 100%;
  height: 30px;
  display: block;
  padding: 0 10px;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
}
.item-form input:-moz-placeholder {
  color: #b9b9b9;
}
.item-form input:-ms-input-placeholder {
  color: #b9b9b9;
}
.item-form input::-webkit-input-placeholder {
  color: #b9b9b9;
}
.item-form input:focus {
  border-color: #33a3fe;
  outline: none;
}
.item-form input:disabled,
.item-form input.read-only {
  background-color: #e5e5e5;
}
.item-form input:read-only {
  background-color: #e5e5e5;
}
.item-form input:-moz-read-only {
  background-color: #e5e5e5;
}
.item-form input.datetime {
  width: 50%;
  height: 30px;
  display: inline-block;
}
.item-form select.datetime {
  height: 30px;
  display: inline-block;
  width: auto;
}
.item-form select.datetime {
  width: 50%;
  height: 30px;
  display: inline-block;
}
.item-form select.datetime {
  height: 30px;
  display: inline-block;
  width: auto;
}
.item-form textarea {
  width: 100%;
  display: block;
  padding: 5px 10px;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
}
.item-form textarea:-moz-placeholder {
  color: #b9b9b9;
}
.item-form textarea:-ms-input-placeholder {
  color: #b9b9b9;
}
.item-form textarea::-webkit-input-placeholder {
  color: #b9b9b9;
}
.item-form textarea:focus {
  border-color: #33a3fe;
  outline: none;
}
.item-label {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  color: #666666;
  display: block;
  padding-bottom: 5px;
  font-weight: 100;
}
.info {
  color: #33a3fe;
}
.info .item-label {
  color: #33a3fe;
}
.info input,
.info textarea {
  border-color: #33a3fe;
}
.alert {
  font-size: 12px;
  position: relative;
  margin-top: 10px;
}
.alert p {
  margin: 0;
}
.alert .btn-close {
  position: absolute;
  right: 10px;
  top: 0;
}
.alert.form-msg {
  border-radius: 2px;
  padding: 5px 10px;
}
.alert.form-msg.error {
  color: #fc6c6c;
  background: rgba(255, 0, 0, 0.1);
}
.alert.form-msg.error .btn-close {
  color: #fc6c6c;
}
.alert.form-msg.success {
  color: #2c9f42;
  background: rgba(0, 255, 0, 0.1);
}
.alert.form-msg.success .btn-close {
  color: #2c9f42;
}
.alert.form-msg.warning {
  color: #ffc800;
  background: rgba(244, 232, 151, 0.1);
}
.alert.form-msg.warning .btn-close {
  color: #ffc800;
}
.alert.form-msg.info {
  color: #33a3fe;
  background: rgba(0, 0, 255, 0.1);
}
.alert.form-msg.info .btn-close {
  color: #33a3fe;
}
.item-form.error .item-label,
.item-form.error .item-input,
.item-form.error .item-select,
.item-form.error textarea {
  border-color: #fc6c6c;
  color: #fc6c6c;
}
.item-form.success .item-label,
.item-form.success .item-input,
.item-form.success .item-select,
.item-form.success textarea {
  border-color: #2c9f42;
  color: #2c9f42;
}
.item-form.warning .item-label,
.item-form.warning .item-input,
.item-form.warning .item-select,
.item-form.warning textarea {
  border-color: #ffc800;
  color: #ffc800;
}
.item-form.info .item-label,
.item-form.info .item-input,
.item-form.info .item-select,
.item-form.info textarea {
  border-color: #33a3fe;
  color: #33a3fe;
}
.item-form .alert.form-msg {
  border-radius: 0px;
  padding: 5px 0px;
}
.item-form .alert.form-msg.error {
  color: #fc6c6c;
  background: transparent;
}
.item-form .alert.form-msg.success {
  color: #2c9f42;
  background: transparent;
}
.item-form .alert.form-msg.warning {
  color: #ffc800;
  background: transparent;
}
.item-form .alert.form-msg.info {
  color: #33a3fe;
  background: transparent;
}
.item-form-switch {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.switch-checkbox {
  display: none;
}
.item-label-switch {
  display: inline-block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #b9b9b9;
}
.switch-label {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  color: #666666;
  position: relative;
  top: -8px;
}
.switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switch-inner:before,
.switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  box-sizing: border-box;
}
.switch-inner:before {
  content: "ON";
  padding-left: 14px;
  background-color: #33a3fe;
  color: #fff;
}
.switch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #e5e5e5;
  color: #999999;
  text-align: right;
}
.switch-switch {
  display: block;
  width: 26px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-inner {
  margin-left: 0;
}
.switch-checkbox:checked + .switch-inner + .switch-switch {
  right: 0px;
  background-color: #fff;
}
.pagination {
  *zoom: 1;
  margin: 0;
  padding: 0;
}
.pagination:before,
.pagination:after {
  display: table;
  content: "";
  line-height: 0;
}
.pagination:after {
  clear: both;
}
.pagination li {
  display: block;
  float: left;
  border: 1px solid #e5e5e5;
  border-left: 0;
  padding: 0;
  margin: 0;
}
.pagination li:first-child {
  border-left: 1px solid #e5e5e5;
  border-radius: 2px 0 0 2px;
}
.pagination li:last-child {
  border-radius: 0 2px 2px 0;
}
.pagination li a {
  display: block;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #464646;
  padding: 0 8px;
}
.pagination li a:hover {
  text-decoration: none;
  color: #33a3fe;
}
.pagination li.active a {
  pointer-events: none;
  background: #efefef;
}
.file-field.input-field {
  position: relative;
  height: 30px;
  margin-bottom: 20px;
}
.file-field.input-field .btn {
  background: #015fa3;
  float: left;
  margin-right: 20px;
  height: 35px;
  line-height: 35px;
}
.file-field.input-field .btn span {
  float: left;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  border-radius: 2px;
}
.file-field.input-field input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  opacity: 0;
  z-index: 200;
}
.file-field.input-field .file-path-wrapper {
  float: left;
  width: calc(100% - 135px);
  background: transparent;
}
.file-field.input-field .file-path-wrapper .file-path {
  width: 100%;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 35px;
  padding: 0 10px;
}
.flash-wrapper {
  position: fixed;
  bottom: 40px;
  width: 288px;
  right: 10px;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  z-index: 10000;
  bottom: -120%;
}
.flash-wrapper.show {
  bottom: 40px;
}
.flash-wrapper.flash {
  color: #fff;
  position: relative;
  border-radius: 2px;
  margin: 0 auto;
  padding: 12px 24px;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
.flash-wrapper.flash.info {
  background: #212121;
}
.flash-wrapper.flash.debug {
  background: #FF9800;
}
.flash-wrapper.flash.danger {
  background: #DD2C00;
}
